{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "commonjs": true
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "build/",
    "coverage/",
    "docs/",
    "src/**/*.spec.ts",
    "src/**/*.spec.tsx",
    "src/**/*.spec.js",
    "src/**/*.spec.jsx",
    "src/**/*.test.ts",
    "src/**/*.test.tsx",
    "src/**/*.test.js",
    "src/**/*.test.jsx"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "no-debugger": "error",
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "space-before-function-paren": [
      "error", {
        "named": "never",
        "asyncArrow": "always",
        "anonymous": "never"
      }
    ],
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-whitespace-before-property": "error",
    "no-multi-spaces": "error",
    "no-irregular-whitespace": "error",
    "no-undef": "error",
    "no-unused-vars": "error",
    "no-useless-escape": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-catch": "error",
    "no-process-env": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
